In [18]:
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import openpyxl as opx
import os

In [39]:
lista = os.listdir('C:/Git/personal-two/dados')
file_list = []
for i in range(0,len(lista)):
    caminho = 'C:/Git/personal-two/dados/' + lista[i]
    file_list.append(caminho)

In [61]:
df = pd.DataFrame()
for i, j in enumerate(file_list):
    data = pd.read_csv(file_list[i])
    data.drop(['Municipio', 'ibge', 'latitude', 'longitude'], inplace=True, axis= 1)
    df = pd.concat([df, data], axis=1)
municipios = pd.read_csv('C:\Git\personal-two\municipios.csv')
arroz = pd.concat([municipios, df], axis=1)

In [63]:
arroz.columns

Index(['CD_MUN', 'NM_MUN', 'SIGLA', 'AREA_KM2', 'geometry',
       '/Agricultura/Culturas Tempor�rias/Arroz/�rea Colhida 1974 (ha)',
       '/Agricultura/Culturas Tempor�rias/Arroz/�rea Colhida 1975 (ha)',
       '/Agricultura/Culturas Tempor�rias/Arroz/�rea Colhida 1976 (ha)',
       '/Agricultura/Culturas Tempor�rias/Arroz/�rea Colhida 1977 (ha)',
       '/Agricultura/Culturas Tempor�rias/Arroz/�rea Colhida 1978 (ha)',
       ...
       '/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o 2012 (R$ mil)',
       '/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o 2013 (R$ mil)',
       '/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o 2014 (R$ mil)',
       '/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o 2015 (R$ mil)',
       '/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o 2016 (R$ mil)',
       '/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o 2017 (R$ mil)',
       '/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o 2018 (R$ mil)',
       '/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o 2019 (R$ mil)',
       '/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o 2020 (R$ mil)',
       '/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o 2021 (R$ mil)'],
      dtype='object', length=245)

In [66]:
arroz

,CD_MUN,NM_MUN,SIGLA,AREA_KM2,geometry,/Agricultura/Culturas Tempor�rias/Arroz/�rea Colhida 1974 (ha),/Agricultura/Culturas Tempor�rias/Arroz/�rea Colhida 1975 (ha),/Agricultura/Culturas Tempor�rias/Arroz/�rea Colhida 1976 (ha),/Agricultura/Culturas Tempor�rias/Arroz/�rea Colhida 1977 (ha),/Agricultura/Culturas Tempor�rias/Arroz/�rea Colhida 1978 (ha),...,/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o 2012 (R$ mil),/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o 2013 (R$ mil),/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o 2014 (R$ mil),/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o 2015 (R$ mil),/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o 2016 (R$ mil),/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o 2017 (R$ mil),/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o 2018 (R$ mil),/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o 2019 (R$ mil),/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o 2020 (R$ mil),/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o 2021 (R$ mil)
0,4300034,Aceguá,RS,1551.339,POLYGON ((-54.10841609899998 -31.4327519699999...,...,...,...,...,...,...,20.243,45.972,56.646,60.812,46.003,69.605,49.233,52.394,68.067,114.657
1,4300059,Água Santa,RS,291.503,POLYGON ((-52.04085924299992 -28.1218817449999...,...,...,...,...,...,...,-,-,-,-,-,-,-,-,-,-
2,4300109,Agudo,RS,534.624,POLYGON ((-53.2539234459999 -29.44907086599994...,3.513,3.473,3.907,4.083,4.350,...,41.565,49.559,45.851,49.852,39.280,58.988,53.433,56.353,78.339,134.884
3,4300208,Ajuricaba,RS,322.674,POLYGON ((-53.79538354499991 -28.1023416859998...,100,100,100,100,-,...,2,-,-,-,-,-,-,-,-,-
4,4300307,Alecrim,RS,316.394,POLYGON ((-54.77812739299993 -27.5837166499999...,60,80,60,50,50,...,4,4,1,1,2,2,1,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,4323606,Vista Alegre do Prata,RS,119.327,POLYGON ((-51.76223969099995 -28.7794962149999...,...,...,...,...,...,...,-,-,-,-,-,-,-,-,-,-
493,4323705,Vista Gaúcha,RS,90.022,"POLYGON ((-53.707852164 -27.19947501399999, -5...",...,...,...,...,...,...,-,-,-,-,-,-,-,-,-,-
494,4323754,Vitória das Missões,RS,258.312,POLYGON ((-54.54097539899989 -28.2713652489999...,...,...,...,...,...,...,165,198,-,-,-,-,-,80,100,170
495,4323770,Westfália,RS,63.665,"POLYGON ((-51.72745410799992 -29.369405356, -5...",...,...,...,...,...,...,-,-,-,-,-,-,-,-,-,-
496,4323804,Xangri-lá,RS,60.756,POLYGON ((-50.03107335199994 -29.7688518709999...,...,...,...,...,...,...,942,1.008,1.124,1.036,681,298,588,842,1.505,4.117

main_dataframe = pd.DataFrame(pd.read_csv(file_list[0]))
  
for i in range(1,len(file_list)):
    data = pd.read_csv(file_list[i])
    df = pd.DataFrame(data)
    main_dataframe = pd.concat([main_dataframe,df],axis=1)

area_colhida = pd.read_csv("C:/Git/personal-two/dados/area_colhida.csv")
area_plantada = pd.read_csv("C:/Git/personal-two/dados/area_plantada.csv")
quantidade_produzida = pd.read_csv("C:/Git/personal-two/dados/quantidade_produzida.csv")
rendimento_medio = pd.read_csv("C:/Git/personal-two/dados/rendimento_medio.csv")
valor_producao = pd.read_csv("C:/Git/personal-two/dados/valor_producao.csv")

for i in range(1974, 2011):
    area_colhida.drop(f'/Agricultura/Culturas Tempor�rias/Arroz/�rea Colhida {i} (ha)', axis=1, inplace= True)
    quantidade_produzida.drop(f'/Agricultura/Culturas Tempor�rias/Arroz/Quantidade Produzida {i} (t)', axis=1, inplace= True)
    rendimento_medio.drop(f'/Agricultura/Culturas Tempor�rias/Arroz/Rendimento M�dio {i} (kg/ha)', axis=1, inplace= True)
for i in range(1974, 1988):
    area_plantada.drop(f'/Agricultura/Culturas Tempor�rias/Arroz/�rea Plantada {i} (-)', axis=1, inplace= True)
for i in range(1988, 2011):
    area_plantada.drop(f'/Agricultura/Culturas Tempor�rias/Arroz/�rea Plantada {i} (ha)', axis=1, inplace= True)
for i in range(1974, 1994):
    valor_producao.drop(f'/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o {i} (Cr$ mil)', axis=1, inplace= True)
for i in range(1994, 2011):
    valor_producao.drop(f'/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o {i} (R$ mil)', axis=1, inplace= True)

for i in range(2011, 2022):
    area_colhida.rename(columns= {f'/Agricultura/Culturas Tempor�rias/Arroz/�rea Colhida {i} (ha)': f'area_colhida_{i}'}, inplace= True)
    quantidade_produzida.rename(columns= {f'/Agricultura/Culturas Tempor�rias/Arroz/Quantidade Produzida {i} (t)': f'quantidade_produzida_{i}'}, inplace= True)
    area_plantada.rename(columns= {f'/Agricultura/Culturas Tempor�rias/Arroz/�rea Plantada {i} (ha)': f'area_plantada_{i}'}, inplace= True)
    rendimento_medio.rename(columns= {f'/Agricultura/Culturas Tempor�rias/Arroz/Rendimento M�dio {i} (kg/ha)': f'rendimento_medio_{i}'}, inplace= True)
    valor_producao.rename(columns= {f'/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o {i} (R$ mil)': f'valor_producao_{i}'}, inplace= True)

planilhas = [valor_producao, area_colhida, area_plantada, quantidade_produzida, rendimento_medio]
valor_producao = valor_producao.rename(columns= {f'ibge': f'CD_MUN'}, inplace= True)
area_colhida.rename(columns= {f'ibge': f'CD_MUN'}, inplace= True)
area_plantada.rename(columns= {f'ibge': f'CD_MUN'}, inplace= True)
quantidade_produzida.rename(columns= {f'ibge': f'CD_MUN'}, inplace= True)
rendimento_medio.rename(columns= {f'ibge': f'CD_MUN'}, inplace= True)

municipios = gpd.read_file('C:\Git\personal-two\consulta\Sementeiras\dados\municipios_rs.json')
municipios.drop([0,1], inplace= True, axis=0)
municipios.to_csv('municipios_csv.csv', index=False)

municipios_csv = pd.read_csv('C:/Git/personal-two/municipios_csv.csv')
municipios_csv

for x in planilhas:
    x.sort_values(by='CD_MUN')

municipios_csv = municipios_csv.merge(valor_producao, right_index= True, left_index= True)
municipios_csv = municipios_csv.merge(area_plantada, right_index= True, left_index= True)
municipios_csv = municipios_csv.merge(area_colhida, right_index= True, left_index= True, suffixes=['cod1', 'cod2'])
municipios_csv = municipios_csv.merge(rendimento_medio, right_index= True, left_index= True, suffixes=['cod3', 'cod4'])
municipios_csv = municipios_csv.merge(quantidade_produzida, right_index= True, left_index= True, suffixes=['cod5', 'cod6'])

municipios_csv.head(1)

municipios_csv.drop(columns=['SIGLA', 'Munic�pio_x',
       'CD_MUN_y', 'Munic�pio_y', 'CD_MUNcod1', 'latitude_y',
       'longitude_y', 'Munic�piocod3', 'CD_MUNcod2', 'latitudecod3', 'longitudecod3', 'Munic�piocod4', 'CD_MUNcod5',
       'latitudecod4', 'longitudecod4', 'Munic�pio',
       'CD_MUNcod6', 'latitude', 'longitude'], inplace= True)

municipios_csv.columns