In [289]:
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import openpyxl as opx

In [290]:
area_colhida = pd.read_csv("C:/Git/personal-two/dados/area_colhida.csv")
area_plantada = pd.read_csv("C:/Git/personal-two/dados/area_plantada.csv")
quantidade_produzida = pd.read_csv("C:/Git/personal-two/dados/quantidade_produzida.csv")
rendimento_medio = pd.read_csv("C:/Git/personal-two/dados/rendimento_medio.csv")
valor_producao = pd.read_csv("C:/Git/personal-two/dados/valor_producao.csv")

In [291]:
for i in range(1974, 2011):
    area_colhida.drop(f'/Agricultura/Culturas Tempor�rias/Arroz/�rea Colhida {i} (ha)', axis=1, inplace= True)
    quantidade_produzida.drop(f'/Agricultura/Culturas Tempor�rias/Arroz/Quantidade Produzida {i} (t)', axis=1, inplace= True)
    rendimento_medio.drop(f'/Agricultura/Culturas Tempor�rias/Arroz/Rendimento M�dio {i} (kg/ha)', axis=1, inplace= True)
for i in range(1974, 1988):
    area_plantada.drop(f'/Agricultura/Culturas Tempor�rias/Arroz/�rea Plantada {i} (-)', axis=1, inplace= True)
for i in range(1988, 2011):
    area_plantada.drop(f'/Agricultura/Culturas Tempor�rias/Arroz/�rea Plantada {i} (ha)', axis=1, inplace= True)
for i in range(1974, 1994):
    valor_producao.drop(f'/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o {i} (Cr$ mil)', axis=1, inplace= True)
for i in range(1994, 2011):
    valor_producao.drop(f'/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o {i} (R$ mil)', axis=1, inplace= True)

for i in range(2011, 2022):
    area_colhida.rename(columns= {f'/Agricultura/Culturas Tempor�rias/Arroz/�rea Colhida {i} (ha)': f'area_colhida_{i}'}, inplace= True)
    quantidade_produzida.rename(columns= {f'/Agricultura/Culturas Tempor�rias/Arroz/Quantidade Produzida {i} (t)': f'quantidade_produzida_{i}'}, inplace= True)
    area_plantada.rename(columns= {f'/Agricultura/Culturas Tempor�rias/Arroz/�rea Plantada {i} (ha)': f'area_plantada_{i}'}, inplace= True)
    rendimento_medio.rename(columns= {f'/Agricultura/Culturas Tempor�rias/Arroz/Rendimento M�dio {i} (kg/ha)': f'rendimento_medio_{i}'}, inplace= True)
    valor_producao.rename(columns= {f'/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o {i} (R$ mil)': f'valor_producao_{i}'}, inplace= True)

In [292]:
planilhas = [valor_producao, area_colhida, area_plantada, quantidade_produzida, rendimento_medio]
valor_producao.rename(columns= {f'ibge': f'CD_MUN'}, inplace= True)
area_colhida.rename(columns= {f'ibge': f'CD_MUN'}, inplace= True)
area_plantada.rename(columns= {f'ibge': f'CD_MUN'}, inplace= True)
quantidade_produzida.rename(columns= {f'ibge': f'CD_MUN'}, inplace= True)
rendimento_medio.rename(columns= {f'ibge': f'CD_MUN'}, inplace= True)

In [293]:
municipios = gpd.read_file('C:\Git\personal-two\consulta\Sementeiras\dados\municipios_rs.json')
municipios.drop([0,1], inplace= True, axis=0)
municipios.to_csv('municipios_csv.csv', index=False)

In [294]:
municipios_csv = pd.read_csv('C:/Git/personal-two/municipios_csv.csv')

In [295]:
for x in planilhas:
    x.sort_values(by='CD_MUN')

In [296]:
municipios_csv = municipios_csv.merge(valor_producao, right_index= True, left_index= True)
municipios_csv = municipios_csv.merge(area_plantada, right_index= True, left_index= True)
municipios_csv = municipios_csv.merge(area_colhida, right_index= True, left_index= True, suffixes=['cod1', 'cod2'])
municipios_csv = municipios_csv.merge(rendimento_medio, right_index= True, left_index= True, suffixes=['cod3', 'cod4'])
municipios_csv = municipios_csv.merge(quantidade_produzida, right_index= True, left_index= True, suffixes=['cod5', 'cod6'])

In [297]:
municipios_csv.head(1)

,CD_MUN_x,NM_MUN,SIGLA,AREA_KM2,geometry,Munic�pio_x,CD_MUN_y,latitude_x,longitude_x,valor_producao_2011,...,quantidade_produzida_2012,quantidade_produzida_2013,quantidade_produzida_2014,quantidade_produzida_2015,quantidade_produzida_2016,quantidade_produzida_2017,quantidade_produzida_2018,quantidade_produzida_2019,quantidade_produzida_2020,quantidade_produzida_2021
0,4300034,Aceguá,RS,1551.339,POLYGON ((-54.10841609899998 -31.4327519699999...,Acegu�,4300034,-31.86076,-54.16706,35.221,...,37.908,72.000,80.750,85.230,56.000,87.159,73.275,65.167,65.167,66.391

In [298]:
municipios_csv.drop(columns=['SIGLA', 'Munic�pio_x',
       'CD_MUN_y', 'Munic�pio_y', 'CD_MUNcod1', 'latitude_y',
       'longitude_y', 'Munic�piocod3', 'CD_MUNcod2', 'latitudecod3', 'longitudecod3', 'Munic�piocod4', 'CD_MUNcod5',
       'latitudecod4', 'longitudecod4', 'Munic�pio',
       'CD_MUNcod6', 'latitude', 'longitude'], inplace= True)

In [299]:
municipios_csv.columns

Index(['CD_MUN_x', 'NM_MUN', 'AREA_KM2', 'geometry', 'latitude_x',
       'longitude_x', 'valor_producao_2011', 'valor_producao_2012',
       'valor_producao_2013', 'valor_producao_2014', 'valor_producao_2015',
       'valor_producao_2016', 'valor_producao_2017', 'valor_producao_2018',
       'valor_producao_2019', 'valor_producao_2020', 'valor_producao_2021',
       'area_plantada_2011', 'area_plantada_2012', 'area_plantada_2013',
       'area_plantada_2014', 'area_plantada_2015', 'area_plantada_2016',
       'area_plantada_2017', 'area_plantada_2018', 'area_plantada_2019',
       'area_plantada_2020', 'area_plantada_2021', 'area_colhida_2011',
       'area_colhida_2012', 'area_colhida_2013', 'area_colhida_2014',
       'area_colhida_2015', 'area_colhida_2016', 'area_colhida_2017',
       'area_colhida_2018', 'area_colhida_2019', 'area_colhida_2020',
       'area_colhida_2021', 'rendimento_medio_2011', 'rendimento_medio_2012',
       'rendimento_medio_2013', 'rendimento_medio_2014',
       'rendimento_medio_2015', 'rendimento_medio_2016',
       'rendimento_medio_2017', 'rendimento_medio_2018',
       'rendimento_medio_2019', 'rendimento_medio_2020',
       'rendimento_medio_2021', 'quantidade_produzida_2011',
       'quantidade_produzida_2012', 'quantidade_produzida_2013',
       'quantidade_produzida_2014', 'quantidade_produzida_2015',
       'quantidade_produzida_2016', 'quantidade_produzida_2017',
       'quantidade_produzida_2018', 'quantidade_produzida_2019',
       'quantidade_produzida_2020', 'quantidade_produzida_2021'],
      dtype='object')