In [2]:
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import openpyxl as opx

In [72]:
area_colhida = pd.read_csv("C:/Git/personal-two/dados/area_colhida.csv")
area_plantada = pd.read_csv("C:/Git/personal-two/dados/area_plantada.csv")
quantidade_produzida = pd.read_csv("C:/Git/personal-two/dados/quantidade_produzida.csv")
rendimento_medio = pd.read_csv("C:/Git/personal-two/dados/rendimento_medio.csv")
valor_producao = pd.read_csv("C:/Git/personal-two/dados/valor_producao.csv")

In [73]:
for i in range(1974, 2011):
    area_colhida.drop(f'/Agricultura/Culturas Tempor�rias/Arroz/�rea Colhida {i} (ha)', axis=1, inplace= True)
    quantidade_produzida.drop(f'/Agricultura/Culturas Tempor�rias/Arroz/Quantidade Produzida {i} (t)', axis=1, inplace= True)
    rendimento_medio.drop(f'/Agricultura/Culturas Tempor�rias/Arroz/Rendimento M�dio {i} (kg/ha)', axis=1, inplace= True)
for i in range(1974, 1988):
    area_plantada.drop(f'/Agricultura/Culturas Tempor�rias/Arroz/�rea Plantada {i} (-)', axis=1, inplace= True)
for i in range(1988, 2011):
    area_plantada.drop(f'/Agricultura/Culturas Tempor�rias/Arroz/�rea Plantada {i} (ha)', axis=1, inplace= True)
for i in range(1974, 1994):
    valor_producao.drop(f'/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o {i} (Cr$ mil)', axis=1, inplace= True)
for i in range(1994, 2011):
    valor_producao.drop(f'/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o {i} (R$ mil)', axis=1, inplace= True)

for i in range(2011, 2022):
    area_colhida.rename(columns= {f'/Agricultura/Culturas Tempor�rias/Arroz/�rea Colhida {i} (ha)': f'area_colhida_{i}'}, inplace= True)
    quantidade_produzida.rename(columns= {f'/Agricultura/Culturas Tempor�rias/Arroz/Quantidade Produzida {i} (t)': f'quantidade_produzida_{i}'}, inplace= True)
    area_plantada.rename(columns= {f'/Agricultura/Culturas Tempor�rias/Arroz/�rea Plantada {i} (ha)': f'area_plantada_{i}'}, inplace= True)
    rendimento_medio.rename(columns= {f'/Agricultura/Culturas Tempor�rias/Arroz/Rendimento M�dio {i} (kg/ha)': f'rendimento_medio_{i}'}, inplace= True)
    valor_producao.rename(columns= {f'/Agricultura/Culturas Tempor�rias/Arroz/Valor da Produ��o {i} (R$ mil)': f'valor_producao_{i}'}, inplace= True)

In [75]:
valor_producao.rename(columns= {f'ibge': f'CD_MUN'}, inplace= True)

In [69]:
municipios = gpd.read_file('C:\Git\personal-two\consulta\Sementeiras\dados\municipios_rs.json')
municipios

,CD_MUN,NM_MUN,SIGLA,AREA_KM2,geometry
0,4300001,Lagoa Mirim,RS,2872.364,"POLYGON ((-52.62347 -32.14606, -52.62286 -32.1..."
1,4300002,Lagoa dos Patos,RS,10196.942,"POLYGON ((-51.29028 -30.00222, -51.28939 -30.0..."
2,4300034,Aceguá,RS,1551.339,"POLYGON ((-54.10842 -31.43275, -54.10739 -31.4..."
3,4300059,Água Santa,RS,291.503,"POLYGON ((-52.04086 -28.12188, -52.04031 -28.1..."
4,4300109,Agudo,RS,534.624,"POLYGON ((-53.25392 -29.44907, -53.25371 -29.4..."
...,...,...,...,...,...
494,4323606,Vista Alegre do Prata,RS,119.327,"POLYGON ((-51.76224 -28.77950, -51.76238 -28.7..."
495,4323705,Vista Gaúcha,RS,90.022,"POLYGON ((-53.70785 -27.19948, -53.70824 -27.2..."
496,4323754,Vitória das Missões,RS,258.312,"POLYGON ((-54.54098 -28.27137, -54.53284 -28.2..."
497,4323770,Westfália,RS,63.665,"POLYGON ((-51.72745 -29.36941, -51.69108 -29.3..."
498,4323804,Xangri-lá,RS,60.756,"POLYGON ((-50.03107 -29.76885, -50.02770 -29.7..."

In [76]:
valor_producao

,Munic�pio,CD_MUN,latitude,longitude,valor_producao_2011,valor_producao_2012,valor_producao_2013,valor_producao_2014,valor_producao_2015,valor_producao_2016,valor_producao_2017,valor_producao_2018,valor_producao_2019,valor_producao_2020,valor_producao_2021
0,Acegu�,4300034,-31.86076,-54.16706,35.221,20.243,45.972,56.646,60.812,46.003,69.605,49.233,52.394,68.067,114.657
1,�gua Santa,4300059,-28.16720,-52.03100,1,-,-,-,-,-,-,-,-,-,-
2,Agudo,4300109,-29.64470,-53.25150,30.045,41.565,49.559,45.851,49.852,39.280,58.988,53.433,56.353,78.339,134.884
3,Ajuricaba,4300208,-28.23420,-53.77570,5,2,-,-,-,-,-,-,-,-,-
4,Alecrim,4300307,-27.65790,-54.76490,4,4,4,1,1,2,2,1,2,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,Vista Alegre do Prata,4323606,-28.80520,-51.79460,-,-,-,-,-,-,-,-,-,-,-
493,Vista Ga�cha,4323705,-27.29020,-53.69740,1,-,-,-,-,-,-,-,-,-,-
494,Vit�ria das Miss�es,4323754,-28.35160,-54.50400,312,165,198,-,-,-,-,-,80,100,170
495,Westfalia,4323770,-29.37440,-51.74630,-,-,-,-,-,-,-,-,-,-,-
496,Xangri-l�,4323804,-29.80650,-50.05190,683,942,1.008,1.124,1.036,681,298,588,842,1.505,4.117

In [77]:
municipios.merge(valor_producao, on='CD_MUN', how='outer')

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat